.projects-title {
	margin-left: 6%;
	width: calc(100% - 6%);

	h1 {
		font-size: 17vw;
		margin: 0;
		color: var(--hightlight);
		z-index: -1;
		padding-bottom: 50px;
		padding-top: 50px;
		font-weight: 500;
	}
}
section.project-list {
	position: relative;
	min-height: 100vh;
	width: 100%;
	margin-bottom: 300px;

	.project-line {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		width: 1px;
		background-color: #d1d1d1;
	}
	.project-list_item {
		height: 68vh;
		position: relative;
		margin-top: -22vh;
		width: 100%;
		display: flex;
		justify-content: flex-end;

		.project-image-link {
			width: 40.5vw;
			display: inline-block;
			height: 100%;
			z-index: 2;
			position: relative;

			img {
				object-fit: cover;
				height: 100%;
				width: 100%;
				object-position: top center;
				position: relative;
			}
			&:hover {
				cursor: pointer;
			}
		}
		.project-info {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateY(-50%);
			margin-left: -0.8vw;
			z-index: 2;

			&::before {
				z-index: -1;
				content: "";
				background: var(--background);
				position: absolute;
				left: 0;
				bottom: -50%;
				height: 200%;
				width: 20px;
				opacity: .8;
			}
			&::after {
				content: "";
				margin-left: 0.8vw;
				position: absolute;
				bottom: -50%;
				left: 0px;
				width: 0px;
				height: 0px;
				border-radius: 100%;
				background: #fff;
			}
			&:hover {
				cursor: pointer;

				&::after {
					width: 6px;
					height: 6px;
					left: -3px;

					-webkit-transition: 0.3s all cubic-bezier(0.23, 1, 0.32, 1);
					-moz-transition: 0.3s all cubic-bezier(0.23, 1, 0.32, 1);
					-ms-transition: 0.3s all cubic-bezier(0.23, 1, 0.32, 1);
					-o-transition: 0.3s all cubic-bezier(0.23, 1, 0.32, 1);
					transition: 0.3s all cubic-bezier(0.23, 1, 0.32, 1);
				}
			}
			.date {
				color: #fff;
				font-size: 16px;
			}
			h2 {
				color: #fff;
				font-weight: normal;
				margin: 0;
				font-size: 2.25rem;
			}
		}
		&:nth-child(odd) {
			justify-content: flex-start;
			.project-info {
				right: 50%;
				text-align: right;
				left: auto;
				margin-right: -0.8vw;
				margin-left: 0;

				h2 {
					text-align: right;
				}
				&::before {
					left: auto;
					right: 0;
				}
				&::after {
					right: 0.8vw;
				}
				&:hover {
					&::after {
						right: calc(0.8vw - 3px);
						left: auto;
					}
				}
			}
		}
		&:nth-child(2) {
			margin-top: 0 !important;
		}
	}
}
@media screen and (max-width: 767px) {
	
	section.project-list {
		.project-list_item {
			margin-top: 0;
			display: flex;
			flex-direction: column;
			height: 100%;
			.project-image-link {
				width: 100%;
				height: 350px;
			}
			.project-info {
				position: relative;
				left: 0;
				top: 0;
				margin: 0;
				transform: translateY(0);
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: 300px;

				&::before {
					z-index: -1;
					content: "";
					background: #161616;
					position: absolute;
					left: 50%;
					top: 50%;
					height: 60%;
					width: 150px;
					opacity: .8;
					transform: translate(-50%, -50%);
				}
			}
			&:nth-child(odd) {
				.project-info {
					right: auto;
					text-align: center;
					left: auto;
					margin-right: 0;
					margin-left: 0;
					&::before {
						left: 50%;
					}
				}
			}
		}
	}
}